<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t(".Welcome Admin") %>, </h1>
<p>
  <%= t(".New organization has been created by") %> <%=@author.name%> <br>
</p>
<p>
  <%=  t(".To activate organization") %> <%= @org%> , <%= t(".click") %>: <%= @url %> <br> <%= @url1 %>
</p>
<p><%= t(".Thanks for help and have a great day!") %></p>
</body>
</html>