<div class="form-block">
  <%= form_for @aid, class: "form-horizontal" do |f| %>
      <div class="form-group <%= 'has-error' if @aid.errors[:name].any? %>">
        <%= f.label :description, class: "control-label" %>
        <div><%= f.text_area :description, autofocus: true, class: "form-control" %></div>
        <%= render 'shared/field_errors', object: @aid, field_name: :description %>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :post_id, :value => @respond_post.id %>
      <%= f.hidden_field :status, :value => 0 %>
      <div class="form-group">
        <% if current_user.organizations.count == 1 %>
            <p> Публикуется от имени <%=current_user.organizations.first.name %></p>
            <%= f.hidden_field :organization_id, :value => current_user.organizations.first.id %>
        <% elsif current_user.organizations.count > 1 %>
            <label class="control-label"><%= t(".On behalf of the organization which will be assisted") %>:</label>
            <div><%= f.collection_select :organization_id, current_user.organizations, :id, :name, class: "form-select from-control"  %></div>
        <% end %>
      </div>
      <div class="form-group">
          <%= f.submit(btn_txt, class: "btn btn-primary") %>
      </div>
  <% end %>
</div>
