<% content_for :title, @user.name %>
<div class="container user-profile">
  <div class="row">
    <div class="user-info col-xs-8">
      <div class="user-info-main">
        <h1><%= t(".Profile") %>: <%= @user.name  %></h1>
        <p><%= t(".Phone") %>: <%= @user.phone  %></p>
        <p><%= t(".Email") %>: <%= @user.email  %></p>
      </div>
      <div class="user-organizations">
        <h2><%= t('.Organizations in which you owner') %>: </h2>
        <% unless @owner_organizations.empty? %>
          <% @owner_organizations.each do |item| %>
              <% if item.organization.active == true %>
                  <div class="user-organization">
                    <% id=item.organization.slug %>
                    <p><%= link_to item.organization.name, organization_show_path(id) %>
                      <span class="user-org-action"><%= link_to t(".Edit"), organization_edit_path(id) %>
                      <%= link_to t(".Delete"), organization_deactivate_path(id), method: :put, data: { confirm: t(".confirm_delete")} %></span>
                    </p>
                  </div>
              <% end %>
          <% end %>
          <div class="al-right"><%= link_to t('.Register a new organization'),  new_organization_path, class: 'btn btn-primary btn-sm' %></div>
        <% else %>
            <p>Чтобы стать администратором организации, нужно ее зарегистрировать! Если организация уже зарегистрирована, Вы можете стать ее участником!</p>
            <div class="al-right"><%= link_to t('.Register a new organization'),  new_organization_path, class: 'btn btn-primary btn-sm' %></div>
        <% end %>
      </div>
      <div class="user-organizations">
        <h2><%= t(".Organizations in which you participant") %>: </h2>

        <% unless @participant_organizations.empty? %>
          <ul>
          <% @participant_organizations.each do |item| %>
              <% id=item.organization.slug %>
              <% if item.organization.active == true %>
                  <li><%= link_to item.organization.name, organization_show_path(id) %></li>
              <% end %>
          <% end %>
          </ul>
          <% else %>
          <p>У Вас нет организаций, в которых Вы являетесь участником. </p>
        <% end %>

      </div>

      <div class="aids-block">
        <h2><%= t(".Your pending posts of help request") %>:</h2>
        <p class="create-post"><%= link_to t('.Create new post'), new_post_path, class: 'btn btn-primary btn-sm' %></p>
        <div class="row">
          <% unless @opened_posts.empty? %>
              <% @opened_posts.each do |post| %>
                  <div class="post-item col-md-12">
                    <div class="inner">
                      <h5 class="post-item-link"><%= link_to post.title, post_path(post) %></h5>
                      <div class="post-aids-num">Откликнулись: <span><%= post.aids.length %></span>
                        <% if post.unshow_aids.count > 0 %>
                          <em class="mes-ushow-aids">(Есть новые!)</em>
                        <% end %>
                        <% unless post.aids.empty? %>
                          <%= link_to show_aids_path(this_post_id: post.id), method: :put, class: 'show_aids', remote: true do %>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          <% end %>
                        <% end %>
                      </div>
                      <ul class="post-aids-list">
                        <% post.aids.each do |post_aid| %>
                            <li class="post-item-aid">
                              <div class="aid-author">
                                <div><span class="glyphicon glyphicon-time"></span><%= post_aid.created_at.strftime("%d %b %Y") %></div>
                                <div><span class="glyphicon glyphicon-user"></span><%= post_aid.user.name %></div>
                                <div><span class="glyphicon glyphicon-envelope"></span><%= post_aid.user.email %></div>
                                <div><span class="glyphicon glyphicon-earphone"></span><%= post_aid.user.phone %></div>
                              </div>
                              <div class="aid-org"><%= t(".Organization") %>: <b><%= post_aid.organization.name %></b></div>
                              <div class="aid-description "><%= post_aid.description %></div>
                              <div class="post-item-aid-bot">
                                <% if post_aid.status != 2 %>
                                  <em>Ecли автор отклика, принял реальное участие в оказании помощи по данной публикации,<br>
                                    кликните на кнопку:</em>&nbsp;&nbsp;<%= link_to "Одобрить", aid_accepted_path(post_aid.id, up_status: 2), method: :put, class: "btn btn-primary btn-xs" %>
                                <% else %>
                                  <span class="glyphicon glyphicon-ok"></span>
                                  <em>Автор данного отклика принял реальное участие в оказании помощи по данной публикации!</em>
                                <% end %>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div><!--/aids-block-->
    </div><!--/user-info col-md-8-->

    <div class="sidebar col-xs-4">
      <p class="not-active-post"><%= link_to t(".My_non_active_posts"),posts_nonactiveposts_path, class: 'btn btn-warning btn-sm' %></p>
      <div class="user-orders">
        <div class="user-order">
          <h4><%= t(".Your organization participation request") %>: </h4>
          <% unless @waiting_for_approval.empty? %>
          <ul>
            <% @waiting_for_approval.each do |item| %>
              <li><%= item.organization.name %></li>
            <% end %>
          </ul>
          <% else %>
            <p>Заявок нет!</p>
          <% end %>
        </div>
        <div class="user-order">
          <h4><%= t(".requests to joining to your organization") %>:</h4>
          <% unless @requests.empty? %>
          <ul>
            <% @requests.each do |item| %>
              <% qw=item.user_id%>
              <li>
                <% pol= User.find_by(id:qw) %>
                <%= pol.name %>
                <%= t(".wants to join your organization") %>
                <% orgid= item.organization_id %>
                <% org=Organization.find_by(id:orgid) %>
                <%= org.name %>
                <%= link_to t('.Approve'), organization_approved_path(item), method: :put %>
              </li>
            <%end %>
          </ul>
          <% else %>
            <p>Заявок нет!</p>
          <% end %>
        </div>
      </div><!--/user-orders-->

      <div class="aids-block">
        <h2><%= t(".Your responses to the requests for assistance") %>:</h2>
        <% unless @aids.empty? %>
            <% @aids.each do |aid| %>
              <div class="aid-item">
                <div class="aid-author">
                  <div><span class="glyphicon glyphicon-time"></span><%= aid.created_at.strftime("%d %b %Y") %></div>
                  <div class="aid-publ"><%= t(".Published from name organization") %>: <b><%= aid.organization.name %></b></div>
                </div>
                <p class="post-title"><%= link_to aid.post.title, post_path(aid.post.slug) %></p>
                <span class="pseudo-link show-hide-aid-descr">Подробнее &rarr;</span>
                <div class="aid-descr">
                <p><%= aid.description %></p>
                <% if aid.status == 0 %>
                  <div class="aid-status"><span class="glyphicon glyphicon-exclamation-sign"></span><%= t(".You responded") %></div>
                  <div>
                    <%= link_to t(".Edit"), edit_aid_path(aid) %>
                    <%= link_to t(".Delete"), aid_path, method: :delete, data: { confirm: t(".confirm_delete")} %>
                  </div>
                <% elsif aid.status == 2 %>
                    <div class="aid-status"><span class="glyphicon glyphicon-ok"></span><%= t(".You are assisted, on the request, Thank you for your response") %>!!!</div>
                <% else %>
                    <div class="aid-status error"><span class="glyphicon glyphicon-exclamation-sign"></span><%= t(".You responded, but aid does not have") %></div>
                <% end %>
              </div>
              </div><!--/aid-item-->
            <% end %>
          <% else %>
            <p class="color-grey">У вас нет откликов на запросы о помощи!</p>
        <%end %>
      </div>

    </div><!--/sidebar col-md-4-->
  </div> <!--/row-->
</div><!--/container-->
