<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :post_category %>
    <%= f.collection_select :post_category_id, PostCategory.all, :id, :name, class: "form-select from-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if current_user.organizations.count == 1 %>
      <p> Публикуется от имени <%=current_user.organizations.first.name %></p>exit
      <%= f.hidden_field :organization_id, :value => current_user.organizations.first.id %>
  <% elsif current_user.organizations.count > 1 %>
      <%= f.collection_select :organization_id, current_user.organizations, :id, :name, class: "form-select from-control"  %>
  <% end %>
  <div class="form-group">
    <%= f.submit "Опубликовать" %>
  </div>
<% end %>
