<div class="container">
  <% content_for :title, "Все Посты" %>
  <h1><%= t(".All posts") %></h1>
  <div class="posts-all">
    <% @posts.each do |post| %>
        <% if post.organization.active == true %>
        <div class="post col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
            </div>
            <div class="panel-body">
              <p><%= t(".Category") %>: <%= post.post_category.name %> </p>
              <p><%= t(".Organization") %>: <%= post.organization.name %></p>
              <p><%= t(".Author") %>: <%= post.user.name %></p>
              <p><%= t(".Published") %>: <%= post.created_at.strftime("%d %b. %Y") %></p>
              <div class="text-right">
              <%= link_to t(".Read"), post_path(post), class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>