<div class="container">
  <% content_for :title, "Все Посты" %>
  <h1><%= t(".All posts") %></h1>
  <%= paginate @posts %>
  <div class="posts-all">
    <% @posts.each do |post| %>
      <% if post.organization.active == true %>
      <div class="post">
        <div class="panel">
          <% (post.post_category.id == 1) ? div_class = 'panel-category help' : div_class = 'panel-category' %>
          <div class="<%= div_class %>">
            <%= post.post_category.name %>!
          </div>
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
          </div>
          <div class="panel-body">
            <div><span class="glyphicon glyphicon-user"></span><%= post.user.name %></div>
            <div><span class="glyphicon glyphicon-time"></span><%= post.created_at.strftime("%d %b %Y" ) %></div>
          </div>
        </div>
      </div><!--/post-->
      <% end %>
  <% end %>
  </div><!--/posts-all-->
</div>

