<h1><%= @post.title %></h1>
<div>
  <% if user_signed_in? && (current_user == @post.user) %>
    <%= link_to 'Редактировать', edit_post_path(@post) %>
    <%= link_to 'Удалить', post_path, method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end  %>
</div>
<p>Категория: <%= @post.post_category.name %></p>
<p>Автор: <%= @post.user.name %></p>
<p>Организация: <%= @post.organization.name %></p>
<p>Опубликовано: <%= @post.created_at %></p>

<p><%= @post.body %></p>
<% if user_signed_in? && (@post.post_category.id == 1 ) && (current_user != @post.user) %>
<p><%= link_to 'Откликнуться', new_aid_path(respond_post: @post.id), class: "btn btn-primary" %></p>
<% end %>

<% unless @aids.empty? %>
<div class="aids-block">
  <h2>На запрос о помощи окликнулись:</h2>
  <% @aids.each do |aid| %>
    <% if aid.status == 1 %>
    <div class="aid-item post">
      <div class="aid-author">
        <div>Автор: <b><%= aid.user.name %></b></div>
        <div>Помощь оказана от имени организации: <b><%= aid.organization.name %></b></div>
      </div>
    </div>
    <% end %>
  <% end %>
  <h4>Благодарим, Всех, кто окликнулся на данный запрос о помощи!!!</h4>
</div>
<% end %>

<div class="comments-list">
  <h2>Комментарии:</h2>
  <div id="hypercomments_widget"></div>
  <script type="text/javascript">
    _hcwp = window._hcwp || [];
    _hcwp.push({widget:"Stream", widget_id: 81181});
    (function() {
      if("HC_LOAD_INIT" in window)return;
      HC_LOAD_INIT = true;
      var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
      var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
      hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/81181/"+lang+"/widget.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
  </script>
  <!--<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>-->
</div>