<div class="container">
  <div class="post-detail">
    <div class="row">
      <% if @post.active == true %>
        <div class="post col-md-8">
          <h1><%= @post.title %></h1>
          <% content_for :title, @post.title %>
          <% meta_tag :title, @post.title %>
          <% meta_tag :keywords, @post.keywords %>
          <div class="row">
            <div class="post-info col-md-8">
              <div><span class="glyphicon glyphicon-time"></span><%= @post.created_at.strftime("%d %b %Y") %></div>
              <div><span class="glyphicon glyphicon-filter"></span><%= @post.post_category.name %></div>
              <div><span class="glyphicon glyphicon-user"></span><%= @post.user.name %></div>
              <div><span class="glyphicon glyphicon-map-marker"></span><small>Опубликовано от имени организации:</small><%= @post.organization.name %></div>
            </div>
            <div class="post-action col-md-4">
              <% if user_signed_in? && (current_user == @post.user) %>
                  <%= link_to t(".edit"), edit_post_path(@post) %>
                  <%= link_to t(".delete"), post_deactivate_path(@post), method: :put, data: { confirm: t(".confirm_delete")}%>
              <% end %>
            </div>
          </div>
          <div class="post-body">
            <p><%= @post.body %></p>
          </div>
        </div>
        <div class="sidebar col-md-4">
          <div class="post-status">
            <h3>Статус публикации:</h3>
            <% if @post.post_category.id == 1 %>
              <% if user_signed_in? %>
                <% if current_user == @post.user %>
                  <% if @post.open != false %>
                    <p class="opened">Публикация актуальна! Eсли помощь уже оказана, рекомендуем Вам закрыть данную публикацию!</p>
                    <div class="link"><%= link_to "Закрыть", post_closed_path(@post), method: :put %></div>
                  <% else %>
                    <p class="closed"><span class="glyphicon glyphicon-ok"></span>Публикация закрыта! Помощь оказана!</p>
                  <% end %>
                <% else %>
                  <% if @post.open != false %>
                    <p class="opened">Публикация актуальна!</p>
                  <% else %>
                    <p class="closed"><span class="glyphicon glyphicon-ok"></span>Публикация закрыта! Помощь оказана!</p>
                  <% end %>
                <% end %>
              <% else %>
                <% if @post.open != false %>
                    <p class="opened">Публикация актуальна!</p>
                    <p>Ecли Вы хотите отклмкнуться на данный запрос о помощи, Вам необходимо авторизоваться!</p>
                <% else %>
                    <p class="closed"><span class="glyphicon glyphicon-ok"></span>Публикация закрыта! Помощь оказана!</p>
                <% end %>
              <% end %>
            <% end %>
          </div><!--/post-status-->
          <% if user_signed_in? && (@post.post_category.id == 1) && (current_user != @post.user) %>
            <div class="aids-form-block">
              <% if @user_already_helped %>
                <div class="aid-message"><span class="aid-response"><%= t(".You have responded to the request for help!") %></span></div>
              <% else %>
                <div><span class="aid-pseudolink" id="show-hide-aids-form"><%= t(".i want to help") %></span></div>
                <div class="aids-form" id="aids-form">
                  <p><%= t(".We are pleased that you want to help us! Please, please, about your desire to help, and we will contact you by phone or e-mail!") %></p>
                  <div class="form-block">
                    <%= render 'aids/form', btn_txt: t('.Reply') %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% unless @aids.empty? %>
            <div class="aids-block">
              <h3><%= t(".Already responded") %>:</h3>
              <% @aids.each do |aid| %>
                <% if aid.status == 1 %>
                  <div class="aid-item post">
                    <div class="aid-author">
                      <div><span class="glyphicon glyphicon-user"></span><%= aid.user.name %></div>
                      <div><%= t(".Organization") %>: <b><%= aid.organization.name %></b></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <p><%= t(".Thank you, everyone who called on this request for help !!!") %></p>
          <% end %>
        </div><!--/sidebar-->
      </div><!--/row-->


        <div class="comments-list">
          <h2><%= t(".Comments") %>:</h2>
          <div id="hypercomments_widget"></div>
          <script type="text/javascript">
            _hcwp = window._hcwp || [];
            _hcwp.push({widget: "Stream", widget_id: 81181});
            (function () {
              if ("HC_LOAD_INIT" in window)return;
              HC_LOAD_INIT = true;
              var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
              var hcc = document.createElement("script");
              hcc.type = "text/javascript";
              hcc.async = true;
              hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/81181/" + lang + "/widget.js";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hcc, s.nextSibling);
            })();
          </script>
          <!--<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>-->
        </div>
    <% else %>
        <div class="message-post-deleted">
          <%= t(".Page not found, the post has been deleted!") %>
        </div>
    <% end %>
  </div> <!--/post-detail-->
</div><!--/container-->