<div class="container">
  <div class="post-item">
    <% if @post.active == true %>
        <h1><%= @post.title %></h1>
        <% content_for :title, @post.title %>
        <% meta_tag :title, @post.title %>
        <% meta_tag :keywords, @post.keywords %>
        <div>
          <% if user_signed_in? && (current_user == @post.user) %>
              <%= link_to t(".edit"), edit_post_path(@post) %>
              <%= link_to t(".delete"), post_deactivate_path(@post), method: :put, data: { confirm: t(".confirm_delete")}%>
          <% end %>
        </div>
        <p><%= t(".category") %>: <%= @post.post_category.name %></p>
        <p><%= t(".author") %>: <%= @post.user.name %></p>
        <p><%= t(".organization") %>: <%= @post.organization.name %></p>
        <p><%= t(".published") %>: <%= @post.created_at.strftime("%d %b %Y %H %M %S") %></p>
        <p><%= @post.body %></p>
        <% if user_signed_in? && (@post.post_category.id == 1) && (current_user != @post.user) %>
            <div class="aids-form-block row">
                <div class="col-md-6">
                  <% if @user_already_helped %>
                      <div><span class="aid-response"><%= t(".You have responded to the request for help!") %></span></div>
                  <% else %>
                      <div><span class="aid-pseudolink" id="show-hide-aids-form"><%= t(".i want to help") %></span></div>
                      <div class="aids-form" id="aids-form">
                        <p><%= t(".We are pleased that you want to help us! Please, please, about your desire to help, and we
                           will contact you by phone or e-mail!") %></p>
                        <div class="form-block">
                          <%= render 'aids/form', btn_txt: t('.Reply') %>
                        </div>
                      </div>
                  <% end %>
                </div>
            </div>
        <% end %>

        <% unless @aids.empty? %>
            <div class="aids-block">
              <h2><%= t(".On the request for assistance called") %>:</h2>
              <% @aids.each do |aid| %>
                  <% if aid.status == 1 %>
                      <div class="aid-item post">
                        <div class="aid-author">
                          <div><%= t(".author") %>: <b><%= aid.user.name %></b></div>
                          <div><%= t(".Assistance provided on behalf of the organization") %>: <b><%= aid.organization.name %></b></div>
                        </div>
                      </div>
                  <% end %>
              <% end %>
              <h4><%= t(".Thank you, everyone who called on this request for help !!!") %></h4>
            </div>
        <% end %>

        <div class="comments-list">
          <h2><%= t(".Comments") %>:</h2>
          <div id="hypercomments_widget"></div>
          <script type="text/javascript">
            _hcwp = window._hcwp || [];
            _hcwp.push({widget: "Stream", widget_id: 81181});
            (function () {
              if ("HC_LOAD_INIT" in window)return;
              HC_LOAD_INIT = true;
              var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
              var hcc = document.createElement("script");
              hcc.type = "text/javascript";
              hcc.async = true;
              hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/81181/" + lang + "/widget.js";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hcc, s.nextSibling);
            })();
          </script>
          <!--<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>-->
        </div>
    <% else %>
        <div class="message-post-deleted">
          <%= t(".Page not found, the post has been deleted!") %>
        </div>
    <% end %>
  </div>
</div>