<div class="organizations">
  <% @organizations_all.each do |organization| %>
    <% if organization.organization_category.name != 'Доноры' %>
    <div>
      <h4><%= link_to organization.name, organization_show_path(organization)%>,
          <em>(категория: <%= organization.organization_category.name %>)</em></h4>
      <ul>
        <li><%= t(".Location") %>: <%= organization.location %></li>
        <li><%= t(".Region") %>: <%= organization.oblast.name %></li>
        <li><%= t(".Adress") %>: <%= organization.address %></li>
        <li><%= t(".Phone") %>: <%= organization.phone %></li>
      </ul>
    </div>
    <% end %>
  <% end %>
</div>

