<div class="organizations"> 
<% @organization_categories.each do |organization_category| %>      
  <h2><%= t(".Category") %>: <%= organization_category.name %></h2>
  <% @organizations_all.each do |organization| %>
  <div>
    <% if organization.organization_category_id == organization_category.id %>  
    <h4><%= link_to organization.name, organization_show_path(organization) %></h4>                 
    <ul>
      <li><%= t(".Location") %>: <%= organization.location %></li>
      <li><%= t(".Region") %>: <%= organization.oblast.name %></li>
      <li><%= t(".Adress") %>: <%= organization.address %></li>
      <li><%= t(".Phone") %>: <%= organization.phone %></li>
    </ul>  
    <% end %>
  </div>
  <% end %>
<% end %>   
</div>