<div class="container">
  <div class="row">
   <div class="legend_box">
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-alert.svg' %>
        </div>
        <div> <%= t(".Organizations that needs help") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-ok.svg' %>
        </div>
        <div><%= t(".Social organizations") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-user.svg' %>
        </div>
        <div><%= t(".Your location") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/my_icon.png' %>
        </div>
        <div><%= t(".My location") %></div>
      </div>
     <div class="imagebox col-md-3">
       <div><a href="#post_section" class="link-scroll btn btn-primary"><%= t(".Last posts")%></a></div>
     </div>
    </div>
  </div>
</div>

<div id="main-map" class="main-map">
  <button class="pure-button" id="btn-locate-user"></button>

</div>
<br><br>
<ul id="result"></ul>
<div class="container" id="post_section">
  <% content_for :title, "Главная" %>
  <h2><%= t(".Request about help") %></h2>
    <div class="posts-all">
      <% @posts.each do |post| %>
          <div class="post">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
              </div>
              <div class="panel-body">
                <div><span class="glyphicon glyphicon-user"></span><%= post.user.name %></div>
                <div><span class="glyphicon glyphicon-time"></span><%= post.created_at.strftime("%d %b %Y" ) %></div>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <div class="new_organization col-md-12">
      <h2><%= t(".New organizations") %></h2>
      <hr>
         <% @organizations.each do |organization| %>
            <div class="col-md-4">
                  <h4><%= link_to organization.name, organization_show_path(organization) %></h4>
                  <ul>
                    <li><%= t(".Location") %>: <%= organization.location %></li>
                    <li><%= t(".Region") %>: <%= organization.oblast.name %></li>
                    <li><%= t(".Adress") %>: <%= organization.address %></li>
                    <li><%= t(".Phone") %>: <%= organization.phone %></li>
                  </ul>
            </div>
        <% end %>

    </div>
  <br>
  <br>

</div>

