<div id="leafletmap"></div>
<i class="fa fa-map-marker"></i>
<button class="pure-button pure-button-primary">Моё местоположение</button>
<div id="index-map"></div>
<br><br><br><br>
<ul id="result">

</ul>
<div class="container">
  <% content_for :title, "Главная" %>

  <% meta_tag :description, '
  Инструмент для визуального представления о количестве и качестве социальных объектов
   (детских домов, домов для престарелых, домов по уходу за детьми с ограниченными возможностями
    здоровья, временные убежища для женщин,
    пострадавших от домашнего насилия).
    Дать сотрудникам социальных объектов инструмент для привлечения внимания со
    стороны государственных органов и сообщества.'%>

  <% meta_tag :keywords, 'Кыргызстан, Бишкек, Десткий-дом, Дом-интернат,
   Дом-престарелых, Специализированный дом ребёнка' %>

    <div class="block_needhelp">
      <h2>Просьба о помощи</h2>
      <hr>
      <% @posts.each do |post| %>
          <div class="post col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
              </div>
              <div class="panel-body">
                <p>Категория: <%= post.post_category.name %> </p>
                <p>Организация: <%= post.organization.name %></p>
                <p>Автор: <%= post.user.name %></p>
                <p>Опубликовано: <%= post.created_at.strftime("%d %b. %Y") %></p>
                <div class="text-right">
                  <%= link_to "Читать", post_path(post), class: "btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <div class="new_organization col-md-12">
      <h2>Новые организации</h2>
      <hr>
         <% @organizations.each do |organization| %>
            <div class="col-md-4">
                  <h4><%= link_to organization.name, organization_show_path(organization) %></h4>
                  <ul>
                    <li>Местоположение: <%= organization.location %></li>
                    <li>Область: <%= organization.oblast.name %></li>
                    <li>Адрес: <%= organization.address %></li>
                    <li>Телефон: <%= organization.phone %></li>
                  </ul>
            </div>
        <% end %>

    </div>
  <br>
  <br>

</div>

