<div class="container">
  <div class="row">
   <div class="legend_box">
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-alert.svg' %>
        </div>
        <div> <%= t(".Organizations that needs help") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-ok.svg' %>
        </div>
        <div><%= t(".Social organizations") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/map/icon-marker-user.svg' %>
        </div>
        <div><%= t(".Your location") %></div>
      </div>
      <div class="imagebox col-md-3">
        <div class="wrap">
          <%= image_tag '/assets/my_icon.png' %>
        </div>
        <div><%= t(".My location") %></div>
      </div>
    </div>
  </div>
</div>

<div id="main-map" class="main-map">
  <button class="pure-button" id="btn-locate-user"></button>
  <a href="#post_section" class="all_posts"><%= t(".All posts")%></a>
</div>
<br><br>
<ul id="result"></ul>
<div class="container" id="post_section">
  <% content_for :title, "Главная" %>

    <div class="block_needhelp">
      <h2><%= t(".Request about help") %></h2>
      <hr>
      <% @posts.each do |post| %>
          <div class="post col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
              </div>
              <div class="panel-body">
                <p><%= t(".Category") %>: <%= post.post_category.name %> </p>
                <p><%= t(".Organization") %>: <%= post.organization.name %></p>
                <p<%= t(".Author") %>: <%= post.user.name %></p>
                <p><%= t(".Published") %>: <%= post.created_at.strftime("%d %b. %Y") %></p>
                <div class="text-right">
                  <%= link_to t(".Read"), post_path(post), class: "btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <div class="new_organization col-md-12">
      <h2><%= t(".New organizations") %></h2>
      <hr>
         <% @organizations.each do |organization| %>
            <div class="col-md-4">
                  <h4><%= link_to organization.name, organization_show_path(organization) %></h4>
                  <ul>
                    <li><%= t(".Location") %>: <%= organization.location %></li>
                    <li><%= t(".Region") %>: <%= organization.oblast.name %></li>
                    <li><%= t(".Adress") %>: <%= organization.address %></li>
                    <li><%= t(".Phone") %>: <%= organization.phone %></li>
                  </ul>
            </div>
        <% end %>

    </div>
  <br>
  <br>

</div>

