<% content_for :title, @organization.name %>

<% meta_tag :title, "#{@organization.name}, #{@organization.location}, #{@organization.oblast.name}" %>
<% meta_tag :keywords, @organization.keywords  %>
<% meta_tag :description, @organization.description  %>

<div class="container">
  <div class="row">
    <h1><%= @organization.name %></h1>
    <div class="col-md-6">
      <h5><%= t(".General information about the organization") %>:</h5>
      <ul>
        <li><%= t(".Description") %>: <%= @organization.description %></li>
        <li><%= t(".Location") %>: <%= @organization.location %></li>
        <li><%= t(".Oblast") %>: <%= @organization.oblast.name %></li>
        <li><%= t(".Address") %>: <%= @organization.address %></li>
        <li><%= t(".Phone") %>: <%= @organization.phone %></li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4><%= t(".Location of organization on the map") %>:</h4>

      <% unless @organization.latitude.empty? || @organization.longitude.empty? %>
          <div class="org-coordinate">
            <div id="org-latitude"><%= @organization.latitude %></div>
            <div id="org-longitude"><%= @organization.longitude %></div>
          </div>

          <div id="organization-map" class="organization-map"></div>
      <br><br>
      <% else %>
      <p><%= t(".For the organization is no information on its location on the map!") %></p>
      <% end %>
    </div>

    <% if user_signed_in? && (current_user == @user) %>
      <%= link_to t('.Edit'), edit_organization_path(@organization) %>
    <%else %>
        <%= link_to t('.join to organization'), organization_participation_request_path(@organization), method: :post %>
    <% end  %>
    <hr>
    <div class="posts-all">
      <% @post.each do |post| %>
          <div class="post col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
              </div>
              <div class="panel-body">
                <p><%= t(".Category") %>: <%= post.post_category.name %> </p>
                <p><%= t(".Organization") %>: <%= post.organization.name %></p>
                <p><%= t(".Author") %>: <%= post.user.name %></p>
                <p><%= t(".Published") %>: <%= post.created_at.strftime("%d %b. %Y") %></p>
                <div class="text-right">
                  <%= link_to t(".Read"), post_path(post), class: "btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>