<% content_for :title, @organization.name %>

<% meta_tag :title, "#{@organization.name}, #{@organization.location}, #{@organization.oblast.name}" %>
<% meta_tag :keywords, @organization.keywords  %>
<% meta_tag :description, @organization.description  %>

<div class="container">
  <h1><%= @organization.name %></h1>
  <div class="row">
    <div class="col-md-6">
      <h5><%= t(".General information about the organization") %>:</h5>
      <ul>
        <li><%= t(".Description") %>: <%= @organization.description.html_safe %></li>
        <li><%= t(".Location") %>: <%= @organization.location %></li>
        <li><%= t(".Oblast") %>: <%= @organization.oblast.name %></li>
        <li><%= t(".Address") %>: <%= @organization.address %></li>
        <li><%= t(".Phone") %>: <%= @organization.phone %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4><%= t(".Location of organization on the map") %>:</h4>
      <% unless @organization.latitude.empty? || @organization.longitude.empty? %>
        <div class="org-coordinate">
          <div id="org-latitude"><%= @organization.latitude %></div>
          <div id="org-longitude"><%= @organization.longitude %></div>
        </div>
        <div id="organization-map" class="organization-map"></div>
      <% else %>
      <p><%= t(".For the organization is no information on its location on the map!") %></p>
      <% end %>
    </div>
  </div><!--/row-->
  <div>
    <% if user_signed_in? %>
      <% if current_user == @user %>
        <%= link_to t('.Edit'), edit_organization_path(@organization) %>
      <% elsif @org_user_participant == nil %>
        <%= link_to t('.join to organization'), organization_participation_request_path(@organization), method: :post %>
      <% end  %>
    <% end %>
  </div>
  <% unless @post.empty? %>
  <div class="post-all-orgs">
    <h3><%= t('.Publications') %>:</h3>
    <div class="posts-all">
      <% @post.each do |post| %>
          <div class="post">
            <div class="panel">
              <% (post.post_category.id == 1) ? div_class = 'panel-category help' : div_class = 'panel-category' %>
              <div class="<%= div_class %>">
                <%= post.post_category.name %>!
              </div>
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
              </div>
              <div class="panel-body">
                <div><span class="glyphicon glyphicon-user"></span><%= post.user.name %></div>
                <div><span class="glyphicon glyphicon-time"></span><%= post.created_at.strftime("%d %b %Y" ) %></div>
              </div>
            </div>
          </div><!--/post-->
      <% end %>
    </div>
  </div><!--/post-all-orgs-->
  <% end %>
</div>



