<%= csrf_meta_tags %>
<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to image_tag("logo2.png"), root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <li><%= link_to t("layouts._header.Donors"), donors_path %></li>
        <li><%= link_to t("layouts._header.Organizations"), organizations_list_path %></li>
        <li><%= link_to t("layouts._header.All Posts"), posts_path %></li>
        <li><%= link_to t("layouts._header.About Project"), about_index_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('layouts._header.select language') %><span class="caret"></span></a>
          <%= link_to "Russian", change_locale_path(:ru) %>
          <ul class="dropdown-menu lang">
            <%= link_to "English", change_locale_path(:en) %>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li class="new_message"><a class=" glyphicon glyphicon-envelope">
                <span>
                  <%= current_user.unread_aids.count %>
                </span>

                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('layouts._header.View profile') %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t('layouts._header.View profile'), user_profile_path(current_user)  %></li>
                  <li><%= link_to t('layouts._header.Edit profile'), edit_user_registration_path(current_user) %></li>
                  <li><%= link_to t('layouts._header.Register the organization'), new_organization_path %></li>
                  <li><%= link_to t('layouts._header.Create new post'), new_post_path %></li>
                  <li><%= link_to t('layouts._header.Help'), help_index_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to t('layouts._header.Exit'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
        <% else  %>
          <%= link_to t('layouts._header.Registration'), new_user_registration_path, class: 'btn btn-primary navbar-btn'  %>
          <%= link_to t('layouts._header.Sign in'), new_user_session_path, class: 'btn btn-primary navbar-btn'  %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>