<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to 'SiteName', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <li><%= link_to t("layouts._header.Donors"), donors_path %></li>
        <li><%= link_to t("layouts._header.Organizations"), organizations_list_path %></li>
        <li><%= link_to t("layouts._header.All Posts"), posts_path %></li>
        <li><%= link_to t("layouts._header.About"), about_index_path %></li>
        <% if I18n.locale == I18n.default_locale %>
            <%= link_to "English", change_locale_path(:en) %>

        <% else %>
            <%= link_to "Russian", change_locale_path(:ru) %>

        <%end%>
        <%= I18n.locale %>
        <%= request.location.country_code %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
            <span class="navbar-text">
              Привет, <%= link_to current_user.name, user_profile_path(current_user), class: 'navbar-link' %>
            </span>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Редактировать профиль', edit_user_registration_path(current_user) %>
                  </li>
                  <li>
                    <hr></li>

                  <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
        <% else  %>
          <%= link_to t('layouts._header.Registration'), new_user_registration_path, class: 'btn btn-default navbar-btn'  %>
          <%= link_to t('layouts._header.Sign in'), new_user_session_path, class: 'btn btn-default navbar-btn'  %>
        <% end %>
      </ul>


    </div>
  </nav>
</header>