<!DOCTYPE html>
<html>
<head>

  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>
    Social hubs
  </title>
  <% if MetaTag.exists? %>
  <meta name='title' content='<%= yield_meta_tag(:title, MetaTag.last.title) %>' />
  <meta name='description'
        content='<%= yield_meta_tag(:description, MetaTag.last.description) %>' />
  <meta name='keywords'
        content='<%= yield_meta_tag(:keywords, MetaTag.last.keywords ) %>' />
  <% end %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

    <%= render 'layouts/header' %>

    <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="col-md-12">
          <p>Copyright © 2016&nbsp; <a href="http://it-attractor.com">IT<span></span> Attractor</a></p>
        </div>

        <a href="#header_top" class="headertop link-scroll"></a>
      </div>
    </footer>
</body>
</html>
