<!DOCTYPE html>
<html>
<head>

  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>
    Social hubs
  </title>
  <% if MetaTag.exists? %>
  <meta name='title' content='<%= yield_meta_tag(:title, MetaTag.last.title) %>' />
  <meta name='description'
        content='<%= yield_meta_tag(:description, MetaTag.last.description) %>' />
  <meta name='keywords'
        content='<%= yield_meta_tag(:keywords, MetaTag.last.keywords ) %>' />
  <% end %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %></head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>

    <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
