<!DOCTYPE html>
<html>
<head>

  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>
    Social hubs
  </title>
  <meta name='description'
        content='<%= yield_meta_tag(:description, '<Организации, помощь, волонтеры, активисты, детский дом, дом престарелых, дом-интернат, Кыргызстан, Бишкек') %>' />
  <meta name='keywords'
        content='<%= yield_meta_tag(:keywords, 'Кыргызстан, Бишкек, Десткий-дом, Дом-интернат,
   Дом-престарелых, Специализированный дом ребёнка') %>' />

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %></head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
</body>
</html>
